@using SporSalonuProjesi.Data.Entities
@model PricingPlan
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" asp-area="Admin" asp-action="Edit" asp-controller="AdminPrice">
    <input type="hidden" asp-for="Id" />
  
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PricePerMonth">Price Per Month</label>
            <input asp-for="PricePerMonth" class="form-control" />
            <span asp-validation-for="PricePerMonth" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Features">Features</label>
            <input asp-for="Features" class="form-control" />
            <span asp-validation-for="Features" class="text-danger"></span>
        </div>


        <button type="submit" class="btn btn-primary">Save</button>
    </form>

