@using SporSalonuProjesi.Data.Entities
@model GymClass
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" asp-area="Admin" asp-action="Create" asp-controller="AdminClasses">
 
    <div class="form-group">
        <label asp-for="Name">Class Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl">ImageUrl</label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DurationMinutes">Bio</label>
        <input asp-for="DurationMinutes" class="form-control" />
        <span asp-validation-for="DurationMinutes" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Fee">Fee</label>
        <input asp-for="Fee" class="form-control" />
        <span asp-validation-for="Fee" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Save</button>
</form>
